---
# PostgreSQL Installation and Configuration Tasks

- name: Install PostgreSQL
  apt:
    name:
      - postgresql
      - postgresql-contrib
      - python3-psycopg2
    state: present
    update_cache: yes

- name: Start PostgreSQL service
  systemd:
    name: postgresql
    state: started
    enabled: yes

- name: Wait for PostgreSQL to be ready
  wait_for:
    port: 5432
    host: localhost
    delay: 5
    timeout: 30

- name: Check if database exists
  become_user: postgres
  command: psql -lqt | cut -d \| -f 1 | grep -qw "{{ postgres_db }}"
  register: db_exists
  changed_when: false
  failed_when: false

- name: Create PostgreSQL database
  become_user: postgres
  postgresql_db:
    name: "{{ postgres_db }}"
    state: present
  when: not db_exists.rc == 0

- name: Check if database user exists
  become_user: postgres
  command: psql -tAc "SELECT 1 FROM pg_roles WHERE rolname='{{ postgres_user }}'"
  register: user_exists
  changed_when: false
  failed_when: false

- name: Create PostgreSQL user
  become_user: postgres
  postgresql_user:
    name: "{{ postgres_user }}"
    password: "{{ postgres_password }}"
    priv: "{{ postgres_db }}:ALL"
    state: present
  when: not user_exists.rc == 0

- name: Get PostgreSQL version
  shell: psql --version | awk '{print $3}' | cut -d. -f1,2
  register: postgres_version
  changed_when: false

- name: Configure PostgreSQL to allow local connections
  lineinfile:
    path: "/etc/postgresql/{{ postgres_version.stdout }}/main/pg_hba.conf"
    regexp: "^host\\s+all\\s+all\\s+127\\.0\\.0\\.1/32\\s+md5"
    line: "host    all             all             127.0.0.1/32            md5"
    state: present
    backup: yes
  notify: restart postgresql

- name: Configure PostgreSQL to listen on localhost
  lineinfile:
    path: "/etc/postgresql/{{ postgres_version.stdout }}/main/postgresql.conf"
    regexp: "^#?listen_addresses\\s*="
    line: "listen_addresses = 'localhost'"
    state: present
    backup: yes
  notify: restart postgresql

